body {
  background-color: #d3ffd3;
}

#loading{
  width: 250px;
  height: 70px;
  margin: 10px auto 10px auto;
  top: 30vh;
  
  border-radius: 5px;
  border: 2px solid black;
  background-color: #ff9500;
  
  text-align: center;
  font-size: 50px;
}
.loadingImg{
  width: 200px;
  height: 200px;
}


.counter{
  position: sticky;
  
  padding: 20px;
  margin: 15px auto;
  
  background-color: #f5ffc2;
  border: 3px solid black;
  border-radius: 20px;
  
  width: 80vw;
  top: -10px;
  
  z-index: 5;
  text-align: center;
}
.counter>h1{
  margin: .1em;
}
.counter>h3{
  margin: .5em 0 1em 0;
}
.counter>.question {
  position: absolute;
  display: inline-block;
  left: 20px;
  bottom: 20px;
  border: 2px solid blue;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: bolder;
  font-size: 2rem;
}
.counter>.question:hover{
  background-color: #b7c3fe;
}
.counter>.helpMsgBox {
  position: absolute;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #f5ffc2;
  color: #0a003d;
  text-align: left;
  margin-top: 2em;
  padding: 5px;
}

.goButton{
  width: 50%;
  height: 30px;
  
  background-color: #b3ffb3;
  border: 2px solid black;
  border-radius: 15px;
  
  color: blue;
  font-weight: bold;
}
.goButton:disabled{
  background-color: #ff8a8a;
  border: 2px solid grey;
  color: grey;
}
.goButton:enabled:hover{
  background-color: #e5ffeb;
  border: 2px solid #66ff66;
  color: #ff8a8a;
}


