#statsWrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0055ff22;
  border-radius: 15px;
}
.stats{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 230px;
  text-align: center;
  background-color: #e5ffff;
}
.stats-hover{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 230px;
  text-align: center;
  background-color: #e5ffff;
  box-shadow: 0 0 25px #fe9a9a;
}
.stats-selected{
  border: 4px solid red;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 230px;
  text-align: center;
  background-color: #e5ffff;
  box-shadow: 0 0 25px #fe9a9a;
}

.statName{
  font-size: 110%;
  font-weight: bold;
}
.text{
  font-size: 150%;
  
  margin-bottom: -15px;
  margin-top: -5px;
}
.text::first-letter{
  text-transform: uppercase;
}

.image{
  margin: 10px 0 0 0;
  image-rendering: pixelated;
  width: 100%;
  position: relative;
}
.detailStats{
  text-align: left;
}
.detailStats>li::first-letter{
  text-transform: uppercase;
}
.detailStatsValue{
  font-weight: bold;
  float: right;
  margin-right: 15px;
  
}

.selectButton{
  background-color: inherit;
  width: 70%;
  border: 3px solid orange;
  border-radius: 6px;
  margin: 10px;
  
  font-weight: bold;
}
.selectButton:hover{
  background-color: #66ff66;
  border: 3px solid #fedca9;
}
