#statsWrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
}
.stats{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 200px;
  text-align: center;
  background-color: #e5ffff;
}
.stats-hover{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 200px;
  text-align: center;
  background-color: #e5ffff;
  box-shadow: 0 0 25px #fe9a9a;
}
.stats-selected{
  border: 4px solid red;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 200px;
  text-align: center;
  background-color: #e5ffff;
  box-shadow: 0 0 25px #fe9a9a;
}

.statName{
  font-size: 110%;
  font-weight: bold;
}
.text{
  font-size: 150%;
  
  margin-bottom: -15px;
  margin-top: -5px;
}
.text::first-letter{
  text-transform: uppercase;
}

.image{
  margin: 10px 0 0 0;
  image-rendering: pixelated;
  width: 100%;
  position: relative;
}
.detailStats{
  text-align: left;
}
.detailStats>li::first-letter{
  text-transform: uppercase;
}
.detailStatsValue{
  font-weight: bold;
  float: right;
  margin-right: 15px;
  
}

.selectButton{
  background-color: inherit;
  width: 70%;
  border: 3px solid orange;
  border-radius: 6px;
  margin: 10px;
  
  font-weight: bold;
}
.selectButton:hover{
  background-color: #66ff66;
  border: 3px solid #fedca9;
}


#loading{
  width: 250px;
  height: 70px;
  margin: 10px auto 10px auto;
  top: 30vh;
  
  border-radius: 5px;
  border: 2px solid black;
  background-color: #ff9500;
  
  text-align: center;
  font-size: 50px;
}
.loadingImg{
  width: 200px;
  height: 200px;
}


.counter{
  position: sticky;
  
  padding: 20px;
  margin: 15px auto;
  
  background-color: #f5ffc2;
  border: 3px solid black;
  border-radius: 20px;
  
  width: 80vw;
  top: -10px;
  
  z-index: 5;
  text-align: center;
}
.counter>h1{
  margin: .1em;
}
.counter>h3{
  margin: .5em 0 1em 0;
}

.goButton{
  width: 50%;
  height: 30px;
  
  background-color: #b3ffb3;
  border: 2px solid black;
  border-radius: 15px;
  
  color: blue;
  font-weight: bold;
}
.goButton:disabled{
  background-color: #ff8a8a;
  border: 2px solid grey;
  color: grey;
}
.goButton:enabled:hover{
  background-color: #e5ffeb;
  border: 2px solid #66ff66;
  color: #ff8a8a;
}


.battleTitle{
  text-align: center;
  margin: 1em 0;
  font-style: italic;
  color: #ff2424;
}

.battleUiWindow{
  border: 4px solid #747272;
  border-radius: 20px;
  width: 70vw;
  height: 750px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  margin: auto;
  padding: 1em;
}
.battleUiWindow img {
  width: 140px;
  image-rendering: pixelated;
}
.enemyWrap {
  grid-column-start: 3;
  padding-top: 19em;
}

.controls>button {
  display: block;
  position: relative;
  margin: 1em auto;
  font-family: inherit;
  font-size: 20px;
  border: none;
  width: 100%;
  background: rgba(255, 162, 0, .4);
}
.controls>button:enabled:hover {
  background: rgba(255, 162, 0, .8);
  cursor: pointer;
}
.controls>button:enabled:hover::after{
  content: attr(data-tip-text);
  position: absolute;
  border: 2px solid red;
  border-radius: 15px;
  color:rgba(255, 162, 0, .8);
  left: calc(100% + 1em);
  width: 10em;
  padding: 10px;
  white-space: pre;
}
.controls>button:disabled {
  background-color: #b6a48f;
  cursor: no-drop;
}
.controls>button:disabled:hover::after {
  content: attr(data-tip-text);
  position: absolute;
  border: 2px solid red;
  border-radius: 15px;
  color:rgba(255, 162, 0, .8);
  left: calc(100% + 1em);
  width: 10em;
  padding: 10px;
}

.player {
  position: relative;
}
.playerSelected {
  position: relative;
  box-shadow: 0 0 15px #002aff inset;
  border-radius: 15px;
}
.playerDetails {
  position: absolute;
  right: 8em;
  bottom: 3em;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1em;
  background: rgba(222, 255, 222, 0.8);
}

.enemy {
  position: relative;
}
.enemySelected {
  position: relative;
  box-shadow: 0 0 15px red inset;
  border-radius: 15px;
}
.enemyDetails {
  position: absolute;
  left: 8em;
  bottom: 3em;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1em;
  background: rgba(222, 255, 222, 0.8);
}

progress.bar {
  -webkit-appearance: none;
}
progress.bar::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 2px #828282 inset;
  border-radius: 1em;
}
progress.bar::-webkit-progress-value {
  background: linear-gradient(180deg, rgba(105,224,88,1) 0%, rgba(116,222,21,1) 46%, rgba(4,145,21,1) 100%);
  border-radius: 1em;
}
progress.bar.under25::-webkit-progress-value {
  background: linear-gradient(180deg, rgba(250,110,72,1) 0%, rgba(221,111,15,1) 46%, rgba(133,9,9,1) 100%);  
  border-radius: 1em;
}
progress.bar.under60::-webkit-progress-value {
  background: linear-gradient(180deg, rgba(237,241,78,1) 0%, rgba(216,221,15,1) 46%, rgba(143,87,2,1) 100%);
  border-radius: 1em;
}

